.rule{
    border:2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 10px 25px;
    letter-spacing: 2px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.rule:hover{
    border:2px solid #000;
    background-color: white;
    color: #000;
}
#info{
    display: none;
    background-color: rgba(255, 255, 255, 0.198);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
}
.close{
    border:2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 10px 25px;
    letter-spacing: 2px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.close:hover{
    border:2px solid #000;
    background-color: white;
    color: #000;
}
.arrow {
    position: relative;
    width: 350px;
    height: 100px;
    top: 100px;
    left: 75px;
}
.arrow2 {
    position: relative;
    width: 350px;
    height: 100px;
    top: 243px;
    left: 350px;
}
.parrafo {
    position: relative;
    top: 220px;
    right: 670px;
    font-size: 23px;
    margin: 0;
    padding: 0;
}
.parrafo2 {
    position: relative;
    top: 215px;
    left: 0;
    font-size: 60px;
    margin: 0;
    padding: 0;
}